@import "github-markdown.css";
@import "native.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #5a5a5a;
}

.markdown-body {
  background-color: #fff9e5;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
